{% extends "base.admin.html.twig" %}

{% block title %}
	Liste des notes de
	{{ matiere.nom }}
{% endblock %}

{% block titre %}
	Liste des notes de
	{{ matiere.nom }}
{% endblock %}
{% block boutons %}
	<a href="{{ path("admin_note_envoye_notes_parents", {id: matiere.id}, {idAnnee: matiere.classe.annee.id}) }}" title="Cliquez pour Envoyer les notes aux parents" class="btn btn-inverse btn-outline-inverse float-right">
		<i class="ti-location-arrow"></i>
	</a>
{% endblock %}

{% block body %}

	<div class="container">
		<div class="content"><br>
			<div class="card">
				<div class="panel-heading"><br>
					<form method="post" action="{{ path("admin_note_liste_note", {id: matiere.id}) }}">
						<div class="row">
							<div class="col-md-6">
								<h8>Telecharger la liste notes</h8>
							</div>
							<div class="col-md-4">
								<select name="file_type" class="form-control input-sm">
									<option value="Xlsx">Xlsx</option>
									<option value="Xls">Xls</option>
									{# <option value="Csv">Csv</option> #}
								</select>
							</div>
							<div class="col-md-2">
								<input type="submit" name="export" class="btn btn-primary btn-sm float-right" value="Telecharger"/>
							</div>
						</div>
					</form>
				</div><br>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-body">
			<div class="content">
				<table id="example" class="table table-striped nowrap" style="width:100%">
					<thead>
						<tr>
							<th>Nom Prenom</th>
							<th>Note</th>
							<th>EstEnvoyé?</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for note in notes %}
							<tr>
								<td>{{note.eleve.nom}}
									{{note.eleve.prenom}}</td>
								<td>{{note.note}}</td>
								<td>
									{% if note.isSend == true %}
										<button class="color-info">oui</button>
									{% else %}
										<button class="color-danger">non</button>
									{% endif %}

								</td>
								{# <td>{{matiere.matiere}}</td> #}
								<td>
									<a href="{{ path("admin_note_editer", {"id": note.id}) }}" title="Cliquez pour editer cette note" class="btn btn-primary btn-actions btn-outline-primary">
										<i class="ti-marker-alt"></i>
									</a>
									<a href="{{ path("admin_note_supprimer", {"id": note.id}) }}" title="Supprimer cette abcence" class="btn btn-danger btn-outline-danger" onclick="return confirm('Etes vous sur de vouloir supprimer cet note ?. Cette action est irreversible')">
										<i class="ti-trash"></i>
									</a>

								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}{% endblock %}
