{% extends "base.admin.html.twig" %}

{% block title %}
	Detail du surveillant
	{{ surveillant.nom }}
	{{ surveillant.prenom }}
{% endblock %}

{% block titre %}
	Detail du surveillant
	{{ surveillant.nom }}
	{{ surveillant.prenom }}
{% endblock %}
{% block boutons %}
	<a
		href="{{ path("admin_surveillant_editer_mot_de_passe", {"id": surveillant.id}) }}" title="Cliquez pour modifié les informations de cet surveillant" class="btn btn-primary btn-outline-primary" onclick="return confirm('Voulez vous modifier le mot de passe cet surveillant ?')">
		<i class="ti-settings"></i>
	</a>
	<a
		href="{{ path("admin_surveillant_supprimer", {"id": surveillant.id}) }}" title="Cliquez pour consulter les details de cet surveilant" class="btn btn-danger btn-outline-danger" onclick="return confirm('Etes vous sur de vouloir supprimer cet surveillant ? les eleves de ce surveillant seront supprimer avec cette action. Cette action est irreversible')">
		<i class="ti-trash"></i>
	</a>
{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-body">
			<div class="content">
				<div class="container">
					<br><h4>Nom:
						{{surveillant.nom}}
					</h4><hr>
					<h4>Prenom:
						{{surveillant.prenom}}
					</h4><hr>
					<h4>Numero:
						{{surveillant.numero}}
					</h4><hr>
					<h4>Email:
						{{surveillant.email}}
					</h4><hr>
					<h4>Date d'ajout:
						{{surveillant.dateCreation|date("m/d/Y")}}
					</h4><hr>
					<a
						href="{{ path("admin_surveillant_liste") }}" class="btn btn-inverse btn-outline-inverse">
						{# <i class="mdi mdi-pencil"></i> #}
						Retour la liste de surveillant
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}{% endblock %}
