{% extends 'base.main.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}

	<section class="features-overview" id="features-section">
		<div class="content-header">
			<h2>{{ administration.fonctionnement }}</h2>
			<h6 class="section-subtitle text-muted">{{ administration.sousfonctionnement }}</h6>
		</div>
		<div class="d-md-flex justify-content-between">
			<div class="grid-margin d-flex justify-content-start">
				<div class="features-width">
					<img src="{{ asset("images/Group12.svg") }}" alt="" class="img-icons">
					<h5 class="py-3">{{ administration.titre1 }}</h5>
					<p class="text-muted">{{ administration.soustitre1 }}</p>
					<a href="#">
						<p class="readmore-link">Readmore</p>
					</a>
				</div>
			</div>
			<div class="grid-margin d-flex justify-content-center">
				<div class="features-width">
					<img src="{{ asset("images/Group7.svg") }}" alt="" class="img-icons">
					<h5 class="py-3">{{ administration.titre2 }}</h5>
					<p class="text-muted">{{ administration.soustitre1 }}</p>
					<a href="#">
						<p class="readmore-link">Readmore</p>
					</a>
				</div>
			</div>
			<div class="grid-margin d-flex justify-content-end">
				<div class="features-width">
					<img src="{{ asset("images/Group5.svg") }}" alt="" class="img-icons">
					<h5 class="py-3">{{ administration.titre3 }}</h5>
					<p class="text-muted">{{ administration.soustitre3 }}</p>
					<a href="#">
						<p class="readmore-link">Readmore</p>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="digital-marketing-service" id="digital-marketing-section">
		<div class="row align-items-center">
			<div class="col-12 col-lg-7 grid-margin grid-margin-lg-0" data-aos="fade-right">
				<h3 class="m-0">{{ administration.description1 }}</h3>
				<div class="col-lg-7 col-xl-6 p-0">
					<p class="py-4 m-0 text-muted">{{ administration.sousdescription1 }}</p>
				</div>
			</div>
			<div class="col-12 col-lg-5 p-0 img-digital grid-margin grid-margin-lg-0" data-aos="fade-left">
				<img src="{{ asset("images/Group1.png") }}" alt="" class="img-fluid">
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col-12 col-lg-7 text-center flex-item grid-margin" data-aos="fade-right">
				<img src="{{ asset("images/Group2.png") }}" alt="" class="img-fluid">
			</div>
			<div class="col-12 col-lg-5 flex-item grid-margin" data-aos="fade-left">
				<h3 class="m-0">{{ administration.description2 }}.</h3>
				<div class="col-lg-9 col-xl-8 p-0">
					<p class="py-4 m-0 text-muted">{{ administration.sousdescription2 }}</p>
				</div>
				<button class="btn btn-info">Readmore</button>
			</div>
		</div>
	</section>
	<section class="case-studies" id="case-studies-section">
		<div class="row grid-margin">
			<div class="col-12 text-center pb-5">
				<h2>Une large d'outil a la disposition de nos eleves</h2>
				<h6 class="section-subtitle text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum.</h6>
			</div>
			<div class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0" data-aos="zoom-in">
				<div class="card color-cards">
					<div class="card-body p-0">
						<div class="bg-primary text-center card-contents">
							<div class="card-image">
								<img src="{{ asset("images/Group95") }}.svg" class="case-studies-card-img" alt="">
							</div>
							<div class="card-desc-box d-flex align-items-center justify-content-around">
								<div>
									<h6 class="text-white pb-2 px-3">Lorem ipsum dolor sit amet.</h6>
									<button class="btn btn-white">Lire plus</button>
								</div>
							</div>
						</div>
						<div class="card-details text-center pt-4">
							<h6 class="m-0 pb-1">Des cours en ligne</h6>
							<p>Cours, Enseignement</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
				<div class="card color-cards">
					<div class="card-body p-0">
						<div class="bg-warning text-center card-contents">
							<div class="card-image">
								<img src="{{ asset("images/Group108.svg") }}" class="case-studies-card-img" alt="">
							</div>
							<div class="card-desc-box d-flex align-items-center justify-content-around">
								<div>
									<h6 class="text-white pb-2 px-3">Lorem ipsum dolor sit amet.</h6>
									<button class="btn btn-white">Lire plus</button>
								</div>
							</div>
						</div>
						<div class="card-details text-center pt-4">
							<h6 class="m-0 pb-1">Une bliotheque</h6>
							<p>Education, Enseignement</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
				<div class="card color-cards">
					<div class="card-body p-0">
						<div class="bg-violet text-center card-contents">
							<div class="card-image">
								<img src="{{ asset("images/Group126.svg") }}" class="case-studies-card-img" alt="">
							</div>
							<div class="card-desc-box d-flex align-items-center justify-content-around">
								<div>
									<h6 class="text-white pb-2 px-3">Lorem ipsum dolor sit amet.</h6>
									<button class="btn btn-white">Lire plus</button>
								</div>
							</div>
						</div>
						<div class="card-details text-center pt-4">
							<h6 class="m-0 pb-1">Des cours a distance</h6>
							<p>Discipline, Education</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3 stretch-card" data-aos="zoom-in" data-aos-delay="600">
				<div class="card color-cards">
					<div class="card-body p-0">
						<div class="bg-success text-center card-contents">
							<div class="card-image">
								<img src="{{ asset("images/Group115.svg") }}" class="case-studies-card-img" alt="">
							</div>
							<div class="card-desc-box d-flex align-items-center justify-content-around">
								<div>
									<h6 class="text-white pb-2 px-3">Lorem ipsum dolor sit amet.</h6>
									<button class="btn btn-white">Read More</button>
								</div>
							</div>
						</div>
						<div class="card-details text-center pt-4">
							<h6 class="m-0 pb-1">Evaluation et suivis</h6>
							<p>Suivis, Epreuve</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="customer-feedback" id="feedback-section">
		<div class="row">
			<div class="col-12 text-center pb-5">
				<h2>{{ administration.quisommenous }}</h2>
				<h6 class="section-subtitle text-muted m-0">Lorem ipsum dolor sit amet, tincidunt vestibulum.</h6>
			</div>
			<div class="owl-carousel owl-theme grid-margin">
				<div class="card customer-cards">
					<div class="card-body">
						<div class="text-center">
							<img src="{{ asset("images/face2.jpg") }}" width="89" height="89" alt="" class="img-customer">
							<p class="m-0 py-3 text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
							<div class="content-divider m-auto"></div>
							<h6 class="card-title pt-3">Tony Martinez</h6>
							<h6 class="customer-designation text-muted m-0">Marketing Manager</h6>
						</div>
					</div>
				</div>
				<div class="card customer-cards">
					<div class="card-body">
						<div class="text-center">
							<img src="{{ asset("images/face3.jpg") }}" width="89" height="89" alt="" class="img-customer">
							<p class="m-0 py-3 text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
							<div class="content-divider m-auto"></div>
							<h6 class="card-title pt-3">Sophia Armstrong</h6>
							<h6 class="customer-designation text-muted m-0">Marketing Manager</h6>
						</div>
					</div>
				</div>
				<div class="card customer-cards">
					<div class="card-body">
						<div class="text-center">
							<img src="{{ asset("images/face20.jpg") }}" width="89" height="89" alt="" class="img-customer">
							<p class="m-0 py-3 text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
							<div class="content-divider m-auto"></div>
							<h6 class="card-title pt-3">Cody Lambert</h6>
							<h6 class="customer-designation text-muted m-0">Marketing Manager</h6>
						</div>
					</div>
				</div>
				<div class="card customer-cards">
					<div class="card-body">
						<div class="text-center">
							<img src="{{ asset("images/face15.jpg") }}" width="89" height="89" alt="" class="img-customer">
							<p class="m-0 py-3 text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
							<div class="content-divider m-auto"></div>
							<h6 class="card-title pt-3">Cody Lambert</h6>
							<h6 class="customer-designation text-muted m-0">Marketing Manager</h6>
						</div>
					</div>
				</div>
				<div class="card customer-cards">
					<div class="card-body">
						<div class="text-center">
							<img src="{{ asset("images/face16.jp") }}g" width="89" height="89" alt="" class="img-customer">
							<p class="m-0 py-3 text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
							<div class="content-divider m-auto"></div>
							<h6 class="card-title pt-3">Cody Lambert</h6>
							<h6 class="customer-designation text-muted m-0">Marketing Manager</h6>
						</div>
					</div>
				</div>
				<div class="card customer-cards">
					<div class="card-body">
						<div class="text-center">
							<img src="{{ asset("images/face1.jpg") }}" width="89" height="89" alt="" class="img-customer">
							<p class="m-0 py-3 text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
							<div class="content-divider m-auto"></div>
							<h6 class="card-title pt-3">Tony Martinez</h6>
							<h6 class="customer-designation text-muted m-0">Marketing Manager</h6>
						</div>
					</div>
				</div>
				<div class="card customer-cards">
					<div class="card-body">
						<div class="text-center">
							<img src="{{ asset("images/face2.jpg") }}" width="89" height="89" alt="" class="img-customer">
							<p class="m-0 py-3 text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
							<div class="content-divider m-auto"></div>
							<h6 class="card-title pt-3">Tony Martinez</h6>
							<h6 class="customer-designation text-muted m-0">Marketing Manager</h6>
						</div>
					</div>
				</div>
				<div class="card customer-cards">
					<div class="card-body">
						<div class="text-center">
							<img src="{{ asset("images/face3.jpg") }}" width="89" height="89" alt="" class="img-customer">
							<p class="m-0 py-3 text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
							<div class="content-divider m-auto"></div>
							<h6 class="card-title pt-3">Sophia Armstrong</h6>
							<h6 class="customer-designation text-muted m-0">Marketing Manager</h6>
						</div>
					</div>
				</div>
				<div class="card customer-cards">
					<div class="card-body">
						<div class="text-center">
							<img src="{{ asset("images/face20.jpg") }}" width="89" height="89" alt="" class="img-customer">
							<p class="m-0 py-3 text-muted">Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce egeabus consectetuer turpis, suspendisse.</p>
							<div class="content-divider m-auto"></div>
							<h6 class="card-title pt-3">Cody Lambert</h6>
							<h6 class="customer-designation text-muted m-0">Marketing Manager</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="contact-us" id="contact-section">
		<div class="contact-us-bgimage grid-margin">
			<div class="pb-4">
				<h4 class="px-3 px-md-0 m-0" data-aos="fade-down">Vous le vous entré en contact avec nous?</h4>
				<h4 class="pt-1" data-aos="fade-down">Nous conctacté</h4>
			</div>
			<div data-aos="fade-up">
				<button class="btn btn-rounded btn-outline-danger"><a href="">Nous conctacté ici</a></button>
			</div>
		</div>
	</section>
	<section class="contact-details" id="contact-details-section">
		<div class="row text-center text-md-left">
			<div class="col-12 col-md-6 col-lg-3 grid-margin">
				<img src="{{ asset("images/Group2.svg") }}" alt="" class="pb-2">
				<div class="pt-2">
					<p class="text-muted m-0">{{ administration.contact }}</p>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3 grid-margin">
				<h5 class="pb-2">Get in Touch</h5>
				<p class="text-muted">Don’t miss any updates of our new templates and extensions.!</p>
				<form>
					<input type="text" class="form-control" id="Email" placeholder="Email id">
				</form>
				<div class="pt-3">
					<button class="btn btn-dark">Subscribe</button>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3 grid-margin">
				<h5 class="pb-2">Our Guidelines</h5>
				<a href="#">
					<p class="m-0 pb-2">Terms</p>
				</a>
				<a href="#">
					<p class="m-0 pt-1 pb-2">Privacy policy</p>
				</a>
				<a href="#">
					<p class="m-0 pt-1 pb-2">Cookie Policy</p>
				</a>
				<a href="#">
					<p class="m-0 pt-1">Discover</p>
				</a>
			</div>
			<div class="col-12 col-md-6 col-lg-3 grid-margin">
				<h5 class="pb-2">Our address</h5>
				<p class="text-muted">{{ administration.localisation }}</p>
				<div class="d-flex justify-content-center justify-content-md-start">
					<a href="#">
						<span class="mdi mdi-facebook"></span>
					</a>
					<a href="#">
						<span class="mdi mdi-twitter"></span>
					</a>
					<a href="#">
						<span class="mdi mdi-instagram"></span>
					</a>
					<a href="#">
						<span class="mdi mdi-linkedin"></span>
					</a>
				</div>
			</div>
		</div>
	</section>
	
	</div>
{% endblock %}
