{% extends "base.admin.html.twig" %}

{% block title %}
	Detail du parent d'eleve
	{{ parent.nom }}
	{{ parent.prenom }}
{% endblock %}

{% block titre %}
	Detail du parent d'eleve
	{{ parent.nom }}
	{{ parent.prenom }}
{% endblock %}
{% block boutons %}
	<a
		href="{{ path("admin_parent_editer_mot_de_passe", {"id": parent.id}) }}" title="Cliquez pour editer le mot de passe de cet parent" class="btn btn-primary btn-outline-primary" onclick="return confirm('Voulez vous modifier le mot de passe cet parent ?')">
		{# <i class="mdi mdi-format-list-bulleted-square"></i> #}
		<i class="ti-settings"></i>
	</a>
	<a
		href="{{ path("admin_parent_supprimer", {"id": parent.id}) }}" title="Cliquez pour supprimer cet parent" class="btn btn-danger btn-outline-danger" onclick="return confirm('Etes vous sur de vouloir supprimer cet parent ? les eleves de ce parent seront supprimer avec cette action. Cette action est irreversible')">
		{# <i class="mdi mdi-format-list-bulleted-square"></i> #}
		<i class="ti-trash"></i>
	</a>
{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-body">
			<div class="content">
				<div class="container">
					<br><h4>Nom:
						{{parent.nom}}
					</h4><hr>
					<h4>Prenom:
						{{parent.prenom}}
					</h4><hr>
					<h4>Numero:
						{{parent.numero}}
					</h4><hr>
					<h4>Email:
						{{parent.email}}
					</h4><hr>
					<h4>Date d'ajout:
						{{parent.dateCreation|date("m/d/Y")}}
					</h4><hr>
					<h4>Enfants:</h4><br>
					{# <ul>
																					<li>Nom : {{parent.eleve.nom}} </li>
																					<li>Prenom : {{parent.eleve.prenom}} </li>
																					<li>Classe : {{parent.eleve.classe}} </li>
																					<li>Nom : {{parent.eleve.pernom}} </li>
																				</ul> #}
					<a
						href="{{ path("admin_parent_liste") }}" class="btn btn-inverse btn-outline-inverse">
						{# <i class="mdi mdi-pencil"></i> #}
						Retour la liste de parent
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}{% endblock %}
