{% extends "base.admin.html.twig" %}

{% block title %}
	Gestion des Parents d'eleve
{% endblock %}

{% block titre %}
	Gestion des Parents d'eleve
{% endblock %}
{% block boutons %}
	<a href="{{ path("admin_parent_creer") }}" title="Ajouter un parent d'eleve avant d'enregistre un eleve" class="btn btn-inverse btn-outline-inverse btn-actions float-right"><i class="ti-plus"></i></a>
{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-body">
			<div class="content">
				<table id="example" class="table table-striped nowrap" style="width:100%">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Prenom</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for parent in parents %}
							<tr>
								<td>{{parent.nom}}</td>
								<td>
									{{parent.prenom}}</td>
								<td>
									<a
										href="{{ path("admin_parent_editer", {"id": parent.id}) }}" title="Cliquez pour modifié les informations de cet parent" class="btn btn-inverse btn-actions btn-outline-inverse">
										<i class="ti-marker-alt"></i>
									</a>

									<a
										href="{{ path("admin_parent_detail", {"id": parent.id}) }}" title="Cliquez pour consulter les details de ce parent" class="btn btn-info btn-outline-info" >
										<i class="ti-receipt"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}{% endblock %}
