{% extends "base.admin.html.twig" %}

{% block title %}
    Liste des matieres de la classe de {{ classe.nom }}
{% endblock %}

{% block titre %}
    Liste des matieres de la classe de {{ classe.nom }}
{% endblock %}
{% block boutons %}
	<a href="{{ path("admin_matiere_creer_matieres", {id: classe.id}) }}" title="Ajouter une matiere a cette classe" class="btn btn-inverse btn-outline-inverse btn-actions float-right"><i class="ti-plus"></i></a>
	{# <a href="{{ path("admin_classe_creer", {id: classe.id}) }}" class="btn btn-inverse btn-outline-inverse btn-actions float-right"><i class="ti-plus"></a> #}
{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-body">
			<div class="content">
				<table id="example" class="table table-striped nowrap" style="width:100%">
					<thead>
						<tr>
							<th>Matieres</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for  matiere in matieres %}
							<tr>
								<td>{{matiere.nom}}</td>
								<td>
									<a href="{{ path("admin_matiere_editer_matiere", {"id": matiere.id}) }}" title="Cliquez pour modifié le nom de la matiere" class="btn btn-primary btn-actions btn-outline-primary">
										<i class="ti-marker-alt"></i>
									</a>

									<a href="{{ path("admin_matiere_supprimer", {"id": matiere.id}) }}" title="Cliquez pour supprimer cette la matiere" class="btn btn-danger btn-outline-danger" onclick="return confirm('Etes vous sur de vouloir supprimer cette Matiere ?. Cette action est irreversible')">
										<i class="ti-trash"></i>
									</a>

								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div>
		<a href="{{ path("admin_matiere_liste_classe", {id: classe.annee.id}) }}" class="mr-2 btn btn-inverse btn-outline-inverse float-left">
			Retour a la liste des classes
	</a>
	<br>
</div>{% endblock %}{% block javascripts %}{% endblock %}
