{% extends "base.admin.html.twig" %}

{% block title %}
    Liste des classes de l'anneé
	{{ annee.nom }}
{% endblock %}

{% block titre %}
    Liste des classes de l'anneé
	{{ annee.nom }}
{% endblock %}
{% block boutons %}
	{# <a href="{{ path("admin_classe_creer_pour_matiere", {id: classeFontionAnnee.id}) }}" title="Creer un classe" class="btn btn-inverse btn-outline-inverse btn-actions float-right"><i class="ti-plus"></a> #}
	{# <a href="{{ path("admin_classe_creer", {id: classe.id}) }}" class="btn btn-inverse btn-outline-inverse btn-actions float-right"><i class="ti-plus"></a> #}
{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-body">
			<div class="content">
				<table id="example" class="table table-striped nowrap" style="width:100%">
					<thead>
						<tr>
							<th>Classe</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for  classe in classes %}
							<tr>
								<td>{{classe.nom}}</td>
								<td>
									{# <a href="{{ path("admin_eleve_editer", {"id": trimestre.id}) }}" class="btn btn-inverse btn-actions btn-outline-inverse">
										Editer
									</a> #}

									<a href="{{ path("admin_matiere_liste_matiere", {"id": classe.id}) }}" title="Cliquez pour voir les matieres de cette classe" class="btn btn-primary btn-outline-primary">
										<i class="ti-receipt"></i>
									</a>

								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div>
		<a href="{{ path("admin_matiere_annee") }}" class="mr-2 btn btn-inverse btn-outline-inverse float-left">
			Retour a la liste des Annees
	</a>
	<br>
</div>{% endblock %}{% block javascripts %}{% endblock %}
