{% extends "base.admin.html.twig" %}

{% block title %}
	Les Eleves de la classe de
	{{ classe.nom }}
{% endblock %}

{% block titre %}
	Les Eleves de la classe de
	{{ classe.nom }}
{% endblock %}
{% block boutons %}
	<a href="{{ path("admin_eleve_creer_dans_classe", {id: classe.id}) }}" class="mr-2 btn btn-inverse btn-outline-inverse btn-actions float-right">
		<i class="ti-plus"></i>
	</a>
	{# <a href="{{ path("admin_eleve_creer") }}" class="btn btn-inverse btn-outline-inverse btn-actions float-right">Ajouter un eleve</a> #}
{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-body">
			<div class="content">
				<table id="example" class="table table-striped nowrap" style="width:100%">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Prenom</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for  eleve in eleves %}
							<tr>
								<td>{{eleve.nom}}</td>
								<td>{{eleve.prenom}}</td>
								<td>
									<a href="{{ path("admin_eleve_editer", {"id": eleve.id}) }}" title="Cliquez pour editer cette eleve" class="btn btn-inverse btn-actions btn-outline-inverse">
										<i class="ti-marker-alt"></i>
									</a>

									<a href="{{ path("admin_eleve_detail", {"id": eleve.id}) }}" title="Cliquez pour voir les details de ce eleve" class="btn btn-primary btn-outline-primary">
										<i class="ti-receipt"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div>
		<a href="{{ path("admin_eleve_annee_detail", {id: classeId}) }}" class="mr-2 btn btn-inverse btn-outline-inverse float-left">
			Retour a la liste des classes</i>
	</a>
	<br>
</div>{% endblock %}{% block javascripts %}{% endblock %}
