{% extends "base.admin.html.twig" %}

{% block title %}
	Gestion des Professeurs
{% endblock %}

{% block titre %}
	Gestion des Professeurs
{% endblock %}
{% block boutons %}
	<a href="{{ path("admin_professeur_creer") }}" title="Cliquez pour ajouter un professeur" class="btn btn-inverse btn-outline-inverse btn-actions float-right"><i class="ti-plus"></i></a>
{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-body">
			<div class="content">
				<table id="example" class="table table-striped nowrap" style="width:100%">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Prenom</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>

						{% for professeur in professeurs %}
							{% if professeur.isProf == true %}
								<tr>
									<td>{{professeur.nom}}</td>
									<td>
										{{professeur.prenom}}</td>
									<td>
										<a
											href="{{ path("admin_professeur_editer", {"id": professeur.id}) }}" title="Cliquez pour modifié les informations de cet professeur" class="btn btn-inverse btn-actions btn-outline-inverse">
											<i class="ti-marker-alt"></i>
										</a>

										<a
											href="{{ path("admin_professeur_detail", {"id": professeur.id}) }}" title="Cliquez pour consulter les details de cet professeur" class="btn btn-info btn-outline-info">
											<i class="ti-receipt"></i>
										</a>
									</td>
								</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}{% endblock %}
